* {
    margin: 0;
}

.hero {
    background-image: url("../public/aboutbg.png"), linear-gradient(rgba(253, 253, 253, 0.253),rgba(0, 0, 0, 0.466));
    background-blend-mode: overlay;
    background-size: calc();
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

