::-webkit-scrollbar {
   display: none;
}

/* About Page styles */
.sm-text {
   font-size: 11px;
}

.image_flex {
   display: flex;
   justify-content: center;
}

.profile_pic_borderR {
   margin-bottom: 10px;
   border-radius: 3em;
}

.about_grid_container {
   display: grid;
   grid-template-columns: .24fr 1fr;
   grid-template-rows: 1fr 50px;
   margin: 4em 2em 4em 2em;
   padding: 1em 1em .5em 1em;
   gap: 1em;
   border-radius: .5em;
   border: 1px solid black;
}

.grid_span_bottom {
   grid-column: span 2;
   text-align: center;
   justify-items: center;
   align-items: center;
}

.about_content {
   font-size: 1.3em;
}


@media (max-width: 71.625em) {
   .about_grid_container {
      grid-template-rows: .1fr 1fr .1fr;
      margin: 2em 2em 3em 2em;
   }

   .about_content {
      grid-column: span 2;
   }

   .grid_span_bottom {
      grid-row-start: 3;
   }

   .about_title {
      text-align: center;
      margin-bottom: .5em;
      grid-row-start: 1;
      grid-column: span 2;
   }
}

@media (max-width: 45em) {
   .about_grid_container {
      margin: 2em .75em 2em .75em;
   }

   .about_content {
      font-size: 14px;
   }

   .grid_span_bottom {
      grid-template-rows: .10fr 1fr .8fr;
   }
}


/* #learning_section{
   background-image: url(../../public/cant-fix-stupid.jpg);
   background-repeat: no-repeat;
   height: 100vh;
   background-position: center;
   opacity: 0.2;
} */

#progession {
   text-align: center;
   background: rgba(255, 255, 255, 0.5);
   /* Adjust the last value (0.5) to change the background opacity */
   margin: 2rem;
   text-align: center;

}

#cert {
   display: flex;
   justify-content: center;
}

#certpic {
   width: 500px;
   height: auto;
   min-width: 300px;
}




/* Portfolio page Grid Styles */

.grid_col {
   display: grid;
   gap: 2rem;
   margin-bottom: 2em;
}

.card:hover {
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

@media (min-width: 45em) {
   .grid_col {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media (min-width: 80em) {
   .grid_col {
      grid-template-columns: repeat(4, 1fr);
   }
}


/* contact page styles */

.contact_body {
   margin: 0;
}

.wrapper {
   height: 50vh;
   overflow-x: hidden;
   overflow-y: auto;
   perspective: 5px;
}

.contact_header {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 115%;
   transform-style: preserve-3d;
   z-index: -1;
}

.background {
   transform: translateZ(-10px) scale(2);
}

.foreground {
   transform: translateZ(-5px) scale(1.5);
   opacity: .1;
}

.background {
   position: absolute;
   height: 75%;
   width: 70%;
   /* object-fit: cover; */
   z-index: -1;
}


.foreground {
   position: absolute;
   z-index: -1;
}

.contact_title {
   font-size: 2.5rem;
   color: rgb(0, 0, 0);
   text-shadow: 0px 0px 8px rgba(156, 156, 156, 0.452);
}


@media (max-width: 992px) {
   .foreground {
      width: 300px;
   }

   .background {
      height: 75%;
   }

   .contact_title {
      font-size: 18px;
   }

   .wrapper {
      height: 50vh;
   }

}

.open {
   height: 100px;
}


/* resume page styles */

.hero {
   background-image: url(../../public/snow-mountains.png);
   height: 100vh;
   background-position: center;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}

.tt_bg {
   background-color: rgba(240, 255, 255, 0.295);
   padding: 5px;
}