/* About styles */
.image_flex {
  display: flex;
  justify-content: center;
}

.profile_pic_borderR {
  margin-bottom: 20px;
  padding: 0 10px 0 10px;
  border-radius: 3em;
}

.about_grid_container {
  background-color: rgb(248, 248, 248);
  display: grid;
  grid-template-columns: 18% 1fr;
  margin: 0 2em 0 2em;
  padding: 1em;
  gap: 1em;
  border-radius: .5em;
}

@media (max-width: 71.625em) {
 .about_grid_container {
  grid-template-rows:  1fr;
  grid-template-columns: none;
  margin: 0 .75em 0 .75em;
 }

 .about_title {
  text-align: center;
  margin-bottom: .5em;
 }
 }

 @media (max-width: 45em) {
  .about_content {
    font-size: 14px;
 }
}

/* Portfolio page Grid Styles */

.grid_col {
  display: grid;
  gap: 2rem;
  margin-bottom: 2em;
}

.card:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
@media (min-width: 45em) {
  .grid_col {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 80em) {
  .grid_col {
    grid-template-columns: repeat(4, 1fr);
  }
}


