::-webkit-scrollbar {display:none;}

/* About Page styles */
.image_flex {
  display: flex;
  justify-content: center;
}

.profile_pic_borderR {
  margin-bottom: 20px;
  padding: 0 10px 0 10px;
  border-radius: 3em;
}

.about_grid_container {
  display: grid;
  grid-template-columns: .24fr 1fr;
  grid-template-rows: 1fr 50px;
  margin: 4em 2em 4em 2em;
  padding: 1em 1em .5em 1em;
  gap: 1em;
  border-radius: .5em;
  border: 1px solid black;
}

.grid_span_bottom {
  grid-column: span 2;
  text-align: center;
  justify-items: center;
  align-items: center;
}



@media (max-width: 71.625em) {
 .about_grid_container {
  grid-template-rows: .1fr 1fr .1fr;
  margin: 2em 2em 3em 2em;
 }

 .about_content {
  grid-column: span 2;
 }

 .grid_span_bottom {
  grid-row-start: 3;
 }

 .about_title {
  text-align: center;
  margin-bottom: .5em;
  grid-row-start: 1;
  grid-column: span 2;
 }
 }

 @media (max-width: 45em) {
.about_grid_container {
  margin: 2em .75em 2em .75em;
}

  .about_content {
    font-size: 14px;
 }

 .grid_span_bottom {
  grid-template-rows: .10fr 1fr .8fr;
 }
}


      /* Portfolio page Grid Styles */

.grid_col {
  display: grid;
  gap: 2rem;
  margin-bottom: 2em;
}

.card:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
@media (min-width: 45em) {
  .grid_col {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 80em) {
  .grid_col {
    grid-template-columns: repeat(4, 1fr);
  }
}


     /* contact page styles */

.contact_body {
  margin: 0;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}


.contact_header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background {
transform: translateZ(-10px) scale(2);
}

.foreground {
  transform: translateZ(-5px) scale(1.5);
  opacity: .2;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}


.foreground {
  position: absolute;
  z-index: -1;
}

.contact_title {
 font-size: 7rem;
 color: orange;
 text-shadow: 0px 1px 16px rgba(0,0,0,0.32);
}


@media (max-width: 992px) {
  .foreground {
    width: 300px;
  }

  .contact_title {
    font-size: 40px;
  }
  
}