.bar {
  display: flex;
  font-size: 18px;
  gap: 12px;
  padding: 15px 0 15px 0;
  justify-content: center;
  font-family: monospace;
  flex-wrap: wrap;
  
}

a {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 5px 0 5px;
  color: black;
}

a:focus {
  box-shadow: 2px 2px black;
}

a:hover {
box-shadow: 2px 2px black;
}

.line {
  text-decoration: none;
}

.logo {
  width: 75px;
  transition: transform 0.5s;
}

.logo:hover {
  transform: rotateY(180deg);
}
 
